<ion-header>
  <ion-navbar>
    <ion-title>
      TodoList
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-card-content class="todo-list-card-content">
            <form [formGroup]="messageForm" (submit)="submitHandler()">
                <ion-item>
                    <ion-label floating>Назва Рецепту</ion-label>
                    <ion-input required formControlName="title"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Інгредієнт</ion-label>
                    <ion-input required formControlName="ingredient"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Назва Рецепту</ion-label>
                    <ion-input required formControlName="title"></ion-input>
                </ion-item>
                <button ion-button color="secondary" [disabled]="messageForm.invalid">Записати</button>
            </form>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="receiptLists">
        <ion-card-content *ngFor="let receiptTitle of receiptLists">
            {{receiptTitle.title}}
        </ion-card-content>
    </ion-card>
</ion-content>
